[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
yieldforge = "7fWbkEtHaPg4csLZkmR8Kt2zcfx92YBbmoL1rEDDnnDC"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000

[test.validator]
bind_address = "0.0.0.0"
url = "https://api.mainnet-beta.solana.com"
ledger = ".anchor/test-ledger"
rpc_port = 1337

#solend program
[[test.validator.clone]]
address = "So1endDq2YkqhipRh3WViPa8hdiSpxWy6z3Z6tMCpAo"
#reserve
[[test.validator.clone]]
address = "BgxfHJDzm44T7XG68MYKx7YisTjZu73tVovyZSjJMpmw"
#reserve liquidity spl account
[[test.validator.clone]]
address = "8SheGtsopRUDzdiD6v6BR9a6bqZ9QwywYQY99Fp5meNf"
#reserve collateral spl mint
[[test.validator.clone]]
address = "993dVFL2uXWYeoXuEBFXR4BijeXdTv4s6BzsCjJZuwqk"
#lending market
[[test.validator.clone]]
address = "4UpD2fh7xH3VP9QQaXtsS1YY3bxzWhtfpks7FatyKvdY"
#lending market authority
[[test.validator.clone]]
address = "DdZR6zRFiUt4S5mg7AV1uKB2z1f1WzcNYCaTEEWPAuby"
[[test.validator.clone]]
address = "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"



#kamino program
[[test.validator.clone]]
address = "KLend2g3cP87fffoy8q1mQqGKjrxjC8boSyAYavgmjD"
#reserve
[[test.validator.clone]]
address = "D6q6wuQSrifJKZYpR1M8R4YawnLDtDsMmWM1NbBmgJ59"
#reserve liquidity spl account
[[test.validator.clone]]
address = "Bgq7trRgVMeq33yt235zM2onQ4bRDBsY5EWiTetF4qw6"
#reserve collateral spl mint
[[test.validator.clone]]
address = "B8V6WVjPxW1UGwVDfxH2d2r8SyT4cqn7dQRK6XneVa7D"
#lending market
[[test.validator.clone]]
address = "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
#lending market authority
[[test.validator.clone]]
address = "9DrvZvyWh1HuAoZxvYWMvkf2XCzryCpGgHqrMjyDWpmo"
[[test.validator.clone]]
address = "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
